*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f1f5f8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222;
  line-height: 1.5;
}
.section-center {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 8rem auto 0 auto;
  max-width: 35rem;
  padding: 2rem;
  width: 90vw;
  position: relative;
  transition: all 0.3s linear;
}
